%h1 Listing blacklists

%table
  %tr
    %th Remote ip
    %th
    %th
    %th

  - @blacklists.each do |blacklist|
    %tr
      %td= blacklist.remote_ip
      %td= link_to 'Show', blacklist
      %td= link_to 'Edit', edit_blacklist_path(blacklist)
      %td= link_to 'Destroy', blacklist, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Blacklist', new_blacklist_path
