.top
  #videos
    #videos_display  
      .video_list_header Video List:
      #framey_content
        %div{:style => "margin-left: 250px; margin-top: 20px"}
          #message_area 
            #flash_message
            #flash_warning
      #recent
        - @videos.each do |video|
          .video_info{:id => "video_#{video.uid}"}
            .video_thumbnail
              %a{:href => "/videos/#{video.uid}"}
                = image_tag(video.framey_thumbnail_url)                
            .video_stats
              .num
                Views:
                = video.views

  .clear
.bottom
  #paginator
    = will_paginate @videos      
.clear

