!!!
%html
  %head
    %link{:rel => "icon", :href => "/images/favicon.png", :type => "image/png"}
    %link{:rel => "shortcut icon", :href => "/images/favicon.png", :type => "image/png"}
    = stylesheet_link_tag :all, "reset-min"
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Fontdiner+Swanky'        
    = javascript_include_tag :defaults
    = javascript_include_tag "jquery.min.js"
    = javascript_include_tag "swfobject"
    = javascript_include_tag "pagination"
    = javascript_include_tag "framey"
    = javascript_include_tag "jquery.simplyCountable"
    = javascript_include_tag "jquery.popupwindow"
    = javascript_include_tag "http://platform.twitter.com/widgets.js"
    %title Bleeoo
    = csrf_meta_tag
    
  %body
    #wrapper
      #header
        %h1 
          %a#logolink{:href => "/"} 
      #content
        = yield
        
    #footer
      :plain
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-25567244-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>